---
layout: base.njk
---
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
{% include "partials/header.njk" %}
<main class="container" aria-label="Time Line Post">
<div class="row mt-5 mb-5">
<div class="col-md-10 mx-auto p-3 p-md-5">
{% if show_table_of_content %}
<div class="p-3 p-md-5 mb-5 bg-body-tertiary">
<h3>{{metadata.table_of_content_title}}</h3>
<div class="toci">
{{ content | toc| safe }}
</div></div>{% endif %}
<heading-anchors>
{{content|safe}}
</heading-anchors>
{% if date %}<p>Update on <time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("dd LLLL yyyy") }}</time></p>{% endif %}
</div>
{% include "ui/timeline/pagination.njk" %}
</div>
</main>