<header class="hero mb-5" aria-label="Header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{author.cover or metadata.image}}');">
<div class="px-4 py-5 my-5 text-center">
<h1 class="display-5 mt-5 fw-bold header_title text-body-emphasis"><a href="{{page.url}}" class="text-white non">{{title or metadata.title}}</a></h1>
<div class="col-lg-8 mx-auto mt-5 mb-5">
<h2 class="lead mb-4">{{author.info or metadata.description}}</h2>
</div>
</div>
</header>