<section class="container-fluid bg-body-tertiary">
{% include "ui/blog/controller.njk" %}
<div class="tab-content" id="pills-tabContent">
{% include "ui/blog/list.njk" %}
{% include "ui/blog/grid.njk" %}
</div>
</div>
</section>