<header class="hero_home mb-5" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{image}}');">
<div class="px-4 py-5 my-5 text-center hero_main">
<h1 class="display-5 mt-5 fw-bold header_title text-body-emphasis"><a href="{{page.url}}" class="text-white non">{{title}}</a></h1>
<div class="col-lg-8 mx-auto mt-5 mb-5">
<h2 class="lead mb-4">{{description}}</h2>
<p class="mt-5">{{information}} </p>
</div>
</div>
</header>
