<section class="container" aria-label="Information">
<div class="row mt-5 mb-5">
<div class="col-md-6 shadow"
style=" background-image:url('{{info.image}}');">
</div>
<div class="col-md-6 p-3 p-md-5">
<h3><a href="{{metadata.url}}" class="non">{{info.title}}</a></h3>
<p>{{info.text}}</p>
<p><a href="{{info.url}}" class="btn btn-dark">{{info.button}}</p>
</div>
</div>
</div>
</section>
