<section class="container-fluid  bg-body-tertiary" aria-label="Post List">
{% include "ui/home/controller.njk" %}
<div class="tab-content" id="pills-tabContent">
{% include "ui/home/list.njk" %}
{% include "ui/home/grid.njk" %}
<div class="col-md-12 p-3"></div>
</div>
</section>