---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes"; // main partials

// creating a light and a dark theme on html level
html, html[data-theme="light"] {
	--background-color: {$background-color};
	--text-color: {$text-color};
	--primary-color: {$primary-color};
	--border-color: {$border-color};
	--code-background-color: {$code-background-color};
	--code-background-color-dark: {$code-background-color-dark};
	--form-background-color: {$form-background-color};
	--footer-background-color: {$footer-background-color};
	--link-color: {$link-color};
	--link-color-hover: {$link-color-hover};
	--link-color-visited: {$link-color-visited};
	--masthead-link-color: {$masthead-link-color};
	--masthead-link-color-hover: {$masthead-link-color-hover};
	--navicon-link-color-hover: {$navicon-link-color-hover};
}

html[data-theme="dark"] {
	--background-color: {#252a34 !default};
	--text-color: {#eaeaea !default};
	--primary-color: {$primary-color};
	--border-color: {$border-color};
	--code-background-color: {$code-background-color};
	--code-background-color-dark: {$code-background-color-dark};
	--form-background-color: {$form-background-color};
	--footer-background-color: {$footer-background-color};
	--link-color: {$link-color};
	--link-color-hover: {$link-color-hover};
	--link-color-visited: {$link-color-visited};
	--masthead-link-color: {$masthead-link-color};
	--masthead-link-color-hover: {$masthead-link-color-hover};
	--navicon-link-color-hover: {$navicon-link-color-hover};
}