{% include "partials/icon.njk" %}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
<div class="container-fluid">
<a class="navbar-brand" href="{{metadata.url}}">
<img class="img-fluid" alt="{{metadata.title}}" loading="eager" src="{{metadata.navbar.logo}}" width="60" height="60"/>
{{metadata.navbar.title}}</a><br/>
<small>{{metadata.navbar.sub_title}}</small>
<button class="navbar-toggler btn btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
<ul class="navbar-nav" aria-label="menu nav">{% for ns in metadata.navbar.nav_list %}
<li class="nav-item">
<a class="nav-link" href="{{ns.url}}">{{ns.nav}}</a>
</li>{% endfor %}
<li class="nav-item dropdown" aria-label="Menu Nav Drop Down">
<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
{{ metadata.navbar.nav_dropdown.title }}</a>
<ul class="dropdown-menu dropdown-menu-end">{% for nv in metadata.navbar.nav_dropdown.item %}
<li><a class="dropdown-item" href="{{nv.url}}">{{nv.nav}}</a></li>{% endfor %}
</ul>
</li>
<li class="nav-item">
<button class="btn py-2 d-flex align-items-center"
id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
<svg class="bi my-1 theme-icon-active theme-icon" width="16" height="16"><use href="#circle-half"></use></svg>
<span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
</button>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
<li>
<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
<svg class="bi me-2 opacity-50 theme-icon" width="16" height="16"><use href="#sun-fill"></use></svg>
Light
<svg class="bi ms-auto d-none theme-icon" width="16" height="16"><use href="#check2"></use></svg>
</button>
</li>
<li>
<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
<svg class="bi me-2 opacity-50 theme-icon" width="16" height="16"><use href="#moon-stars-fill"></use></svg>
Dark
<svg class="bi ms-auto d-none theme-icon" width="16" height="16"><use href="#check2"></use></svg>
</button>
</li>
<li>
<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
<svg class="bi me-2 opacity-50 theme-icon" width="16" height="16"><use href="#circle-half"></use></svg>
Auto
<svg class="bi ms-auto d-none theme-icon" width="16" height="16"><use href="#check2"></use></svg>
</button>
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
