<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
<div class="modal-content">
<div class="modal-header bg-body-secondary">
<p class="modal-title" id="imageTitle"></p>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-0">
<img src="" class="imgg" width="100%" height="100%" id="fullImage" alt="Full-size image">
<p id="imageDescription" class="p-3 mb-0"></p>
</div>
<div class="modal-footer justify-content-between bg-body-secondary">
<button type="button" class="btn btn-cta" id="prevBtn">
<i class="bi bi-chevron-left"></i> Previous
</button>
<button type="button" class="btn btn-cta" id="nextBtn">
Next <i class="bi bi-chevron-right"></i>
</button>
</div>
</div>
</div>
</div>
